@model Assignment7.Controllers.ArtistWithMediaItemStringIds

@{
    ViewBag.Title = "Details";
}

<h2>Details - @Model.Name</h2>

<div>
    @*<h4>ArtistWithDetails</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthOrStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthOrStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlArtist)
        </dt>

        <dd>
            <img src="@Model.UrlArtist" alt="" style="width: 150px;" />
            @*@Html.DisplayFor(model => model.UrlArtist)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Executive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Executive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile)
        </dt>

        <dd>
            <div class="panel panel-default panel-body">
                @Html.Raw(Model.Profile)
            </div>
        </dd>

        <dt>
            Photos
        </dt>

        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("image/")))
            {
                <div>
                    <span>@item.Caption</span>
                    <br />
                    <img src="~/media/@item.StringId" alt="@item.Caption" title="@item.Caption" width="200">
                </div>
            }
            <hr>
        </dd>

        <dt>
            Audio
        </dt>

        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("audio/")))
            {
                <div>
                    <span>@item.Caption</span>
                    <br />
                    <audio src="~/media/@item.StringId" controls="controls"></audio>
                </div>
            }
            <hr>
        </dd>

        <dt>
            Documents
        </dt>

        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("application/")))
            {
                <div>
                   
                    
                    <a href="~/media/@item.StringId">@item.Caption</a><br />
                </div>
            }
            <hr>
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Add album for this artist", "AddAlbum", new { id = Model.Id }) |
    @Html.ActionLink("Add media item for this artist", "AddMediaItem", new { id = Model.Id })
</p>
